*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background: url("images/bg-image-1.jpg") no-repeat fixed center;
  background-size: cover;
}

nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  background: #003386c4;
  position: fixed;
  z-index: 100;
}

.logo, .logo a{
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  text-decoration: none;
}

.logo img{
  width: auto;
  height: 7vh;
}

.logo h4{
  float: right;
  padding: 15px 0 0 10px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: aliceblue;
  letter-spacing: 0px;
  text-decoration: none;
  font-size: 16px;
}

.container{
  margin-top: 70px;
  margin-bottom: 70px;
}

.item{
  margin-top: 20px;
  margin-left: 100px;
  display:flex;
  width: 80%;
  height: 200px;
  background-color: rgb(0, 204, 255);
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.item img{
  height:80%;
  margin-left: 20px;
  border-radius: 50%;
  background-color: white;
}
.content{
  margin: 20px;
}

.title a{
  text-decoration: none;
  color: black
}

.price{
  float: right;
  margin: 10px 20px 0 0;
  background-color: rgb(177, 43, 255);
  padding: 10px;
}